torch~=2.0.0
imitation~=1.0.0
stable_baselines3~=2.3.0
matplotlib~=3.5.1
pandas~=2.0.0
numpy~=1.26.0
swig~=4.2.0
gymnasium[all]~=0.29.1
pytest~=6.2.5
seals~=0.2.1
optuna~=3.6.1
wandb~=0.17.0
tensorboard~=2.16.2
sacred~=0.8.5
scipy~=1.13.0